/0_config/
/*/.idea/
/*/venv/
/*/celtic-defender-356715-7381bc0e1dcf.json
/*/celtic-defender-356715-7381bc0e1dcf.json.rej
/*/chromedriver.exe
/*/한국국제교류재단_한국음식정보_영어_20191227.csv
/*/한국국제교류재단_한국음식정보_영어_20191227_modify.csv

